body{
  background-color: #052900;
  color: white;
  text-align: center;
  font-family: Bitter;
  font-weight: 900;
}

.form-group,
#downloadData,
button{
  display: block;
  margin: 5px auto;
  width: 300px;
  font-weight: 900 !important;
  transition: .2s;
  border: 0px solid black !important;
}

#downloadData,
button{
  background-color: #d2e69e !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#downloadData:hover,
button:hover{
  color: white !important;
  background-color: #aa3b00 !important;
}

.nav{
  border-top: 1px solid #d2e69e;
  padding: 5px;
  border-bottom: 1px solid #d2e69e;
  color:#084500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}


.nav li.active a{
  background-color: rgba(209, 230, 157, 0.5) !important;
}

.nav li a{
  color:black !important;
  background-color: #d2e69e !important;
  width: 143px;
  transition: .2s;
  margin: 5px;
}

.nav li a:hover{
  text-decoration: underline;
  color: white !important;
  background-color: #aa3b00 !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.well label,
.well h2,
h3{
  font-weight: 900 !important;
}

.well{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  color: black;
  background-color: #d2e69e !important;
}

hr{
  border-top: 1px solid #d2e69e;
}

table.dataTable tr:nth-child(even),
table.dataTable tr:nth-child(odd) {
  background-color: #052900 !important;
  transition: .2s;
}

table.dataTable tr:nth-child(even):hover,
table.dataTable tr:nth-child(odd):hover{
    background-color: #d2e69e !important;
    color: black !important;
}

.irs .irs-single,
.irs .irs-bar-edge,
.irs .irs-bar,
.irs .irs-to,
.irs .irs-from{
    background: #aa3b00;
    border: 0px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    color: white;
}
